@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family: "Quicksand", serif; */
/* font-family: "Raleway", serif; */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Quicksand", serif;
}
/* html{
    font-size: 16px;
} */

/* Root Styles */
:root{
    --primary-color-orange:#FEA301;
    --primary-color-skyblue: #01ACFD;
}




/* Shared Styles */
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
.btn-primary{
  width: 197px;  
  height: 50px;
  border-radius: 12px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.25rem;
  background-color: black;
}
.section-description{
    font-size: .93rem;
    color: #808080;
    font-weight: 500;
    font-family: "Raleway", serif;
    line-height: 28px;
}
.banner-footer-description{
    color: black;
    font-size: 1.25rem;
}
.section-title{
    font-size: 2.87rem;
    color: #000000;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #ffffff;
}

/* Hover Effect related Styles */
button:hover {
    transform: scale(1.03);
}
a:hover{
    font-weight:bolder;
}



/* Navbar related Styles */

.navbar{
    height: 70px;
    justify-content: space-between;
    align-items: center;
    max-width: 1159px;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 5;
    /* border: solid saddlebrown 1px; */
}
.nav-title-box{
    align-items: center;
    /* border: solid saddlebrown 1px; */
}
.nav-title-box img{
    width: 46px;
}
.nav-title{
    font-weight: bold;
    font-size: 2rem;
    color: black;
    margin-left: 11px;
}
.nav-list>ul {
    /* max-width: 387px; */
    list-style: none;
    gap: 32px;
    /* border: solid saddlebrown 1px; */
}
.nav-list ul li a{
    text-decoration: none;
}

#home{
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary-color-orange);
}
#about{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--primary-color-skyblue) ;
}
#facilities{
    font-size: 1.25rem;
    font-weight:500;
    color:#05D4DF ;
}
#admission{
    font-size: 1.25rem;
    font-weight:500;
    color:#5D58EF;
}
#navbar-btn{
 background-color: var(--primary-color-orange);
}
#navbar-icon{
    font-size: 2.5rem;
    display: none;
}

/* Marquee Section */
.marquee{
    color:#FEA301;
    max-width: 1160px;
    border: solid 1px #01ACFD40;
    margin: 3px auto;
    font-size: 1.5rem;
    border-radius: 7px;
    box-shadow: inset 0 0 9px 1px #01ACFD20 ;
}
.marquee-nav{
    color: var(--primary-color-skyblue);
    max-width: 1160px;
    /* border: solid 1px var(--primary-color-orange); */
    margin: 3px auto;
    font-size: 1.5rem;
    border-radius: 6px;
    margin-right: 7px;
    
}
/* Banner Related styles */

.banner{
    max-width:1159px;
    margin: 0 auto ;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner-title{
    font-size: 3.5rem ;
    font-weight: bold;
    color: black;
}

#banner-title-orange{
    color: var(--primary-color-orange);
}
#banner-title-skyblue{
    color: var(--primary-color-skyblue);
}

.banner-img{
    max-width: 469px;
}
.banner-img img{
    width: 100%;
}
.standard-curriculum{
    border: solid white 1px;

}
/* Standard curriculum Style */
.standard-curriculum{
    background: url(../assets/bg.png);
    background-size: contain;
}
.main-container{
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1159px;
    margin: 60px auto 80px auto ;
    
    /* border: solid saddlebrown 1px; */
}
.card-container{
    width: 100%;
    gap: 20px;
    /* justify-content: space-evenly; */
    /* border: solid saddlebrown 1px; */
}
.card{
    display: flex;
    flex-direction: column;
    height: 477px;
    max-width: 368px;
    margin: 80px auto;
    align-items: center;
    border-radius: 19px;
    /* gap: 10px; */
    padding: 41px;
    /* border: solid saddlebrown 1px; */
    justify-content: space-evenly;
    box-shadow: inset 0 0 10px 1px #00000015;
    /* box-shadow:; */
}
.card-img-box{
    /* border: solid saddlebrown 1px; */
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
}
.card p{
    text-align: center;
}

#card-1{
    /* border: solid 05px #DEF5FF60 ; */
    background: linear-gradient( #DEF5FF, white , white, white );
}
#card-2{
    background: linear-gradient( #FFF4DC, white , white, white );

}
#card-3{
    background: linear-gradient( #F2E8FF, white , white, white );

}

.card-btn{
    margin-top: 10px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    background: none;
}
#card-btn-1{
    color: #64C8FF;
}
#card-btn-2{
    color: #F0AA00;
}
#card-btn-3{
    color:#8700FF ;
}

.standard-curriculum-bottom-btn{
    gap:10px ;
}

.standard-curriculum-bottom-btn div{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    color: white;
    font-weight: bold;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: var(--primary-color-orange);
}

/* Our Stories related styles */
.our-stories{
    background: linear-gradient( #ffffff00,#FEA30130), url(../assets/bg.png );
    /* text-align: center; */
    /* border: solid 01px #010507 ; */
}
.our-stories>.section-title{
    text-align: center;
}
.stories-cards-container{
    max-width: 1160px;
    margin: 80px auto;
    /* border: solid 1px #09374b ; */
    justify-content: space-between;
}

.large-box{
    width: 46.55%;
    border-radius: 16px;
    background-color: #fff;
    /* border: solid saddlebrown 1px; */
}
.large-card-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: #000000;
    margin: 33px auto 51px auto;
}
.larfe-content-box{
    position: relative;
    padding:34px 38px;
}
.image-box img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
.btn-stories-large{
    position: absolute;
    top: -26px;
    border: none;
    padding: 15px;
    font-size: .94rem;
    font-weight: 500;
    border-radius: 48px;
    color: white;
    background-color: #3CD8E8;
    font-family: "Raleway", serif;
}
.small-box{
    display: grid;
    gap: 19px;
    grid-template-columns: repeat(2,1fr);
    width:51.8%;
    /* border: solid saddlebrown 1px; */
}
.img-box-small img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
.stories-card{
    background-color: #fff;
    border-radius: 16px;
    min-height: 301px;
}
.content-box-small{
    margin-left: 38px;
    padding-right: 38px;
    position: relative;
    border: solid rgba(139, 69, 19, 0) 1px;
}
.stories-card-title{
    font-weight: bold;
    font-size: 1rem;
    color:#000000;
    line-height:28px ;
    margin-top:45px ;
}
.btn-stories-small{
    border: none;
    padding: 10.5px 19px;
    border-radius:48px ;
    position: absolute;
    color: white;
    top: -20px;
    left: 0px;

}
.stories-btn-bg-green{
    background-color: #95B226;
}
.stories-btn-bg-blue{
    background-color: #5D58F0;
}

.our-stories>.btn-box{
    text-align: center;
    padding-bottom: 60px ;
    /* border: solid 01px #010507 ; */
    
}
/* Footer Related styles */

footer{
    background-color: var(--primary-color-skyblue);
}
.footer-content-box{
    justify-content: space-between;
    max-width: 1160px;
    padding: 90px 91px 174px 20px ;
    margin: 0 auto;
    color: white;
}

.title-box{
    margin-top: 32px;
    max-width: 400px;
    /* border: solid 01px #010507 */
}
.footer-title{
    font-size: 2.687rem;
    font-weight: bold;
    line-height: 40px;
    margin-left:10px ;
}
.footer-description{
    margin-top:36px ;
    font-size: 1.25rem;
    line-height: 25px;
}
.about-box{
    margin-top: 32px;
}
.about-box ul{
    height: 72% ;
    margin-top: 32px;
    justify-content: space-between;
    flex-direction: column;
    /* border: solid 01px #010507 */
}
.about-box ul li{
    list-style: none;
}
.about-box ul li a{
    text-decoration: none;
    color: white;
    font-size:1.25rem ;
    line-height: 28px;
    padding-left: 5px;
}

.footer-subtitle{
    font-size: 1.5rem ;
    font-weight: bold;
}
.social-icon-box{
    margin-top: 32px;
    /* border: solid 01px #010507 */
}
.social-icons a i{
    /* text-decoration: none; */
    /* color: red; */
    color: white;
    margin-right: 5px;
    /* border: solid 01px #010507; */
    font-size: 2rem;
    margin-top:32px ;
}








@media screen and (max-width: 576px) {
    html{
        font-size: 12px;
    }
    .navbar{
        position:fixed;
        top: 0;
        padding:18px ;
        border: solid .5px var(--primary-color-orange);
        
    }
    .banner{
        margin-top:70px ;
    }
    /* display None */
    .standard-curriculum-bottom-btn,
    .nav-title, 
    .nav-list, 
    #navbar-btn,
    .large-box,
    .marquee{
        display: none;
    }
    /* Flex Direction Column */
    .card-container,
    .footer-content-box{
        flex-direction: column;
    }

    /* Flex Direction column-reverse */
    .banner{
        flex-direction: column-reverse;
    }
    /* text align center */
    .banner-content{
        text-align: center;
        align-items: center;
    }
    /* display Block */
    .marquee-nav,
    #navbar-icon,
    #display-none-card{
        display: block;
    }
    .card{
        height: auto;
        width: auto;
        margin: 0 auto;
    }
    .stories-cards-container{
        justify-content: center;
        margin: 20px auto;
    }
    .small-box{
        width: 95%;
        
    }
    .content-box-small{
        margin-left:  18px;
        padding-right: 5px;
    }

    
}